.first
{
	list-style: none;
	text-align: left;
	margin-left: 5%;
}
.second
{
	list-style: none;
	text-align: left;
	margin-left: 19%;
}
.third
{
	list-style: none;
	text-align: left;
	margin-left: 6%;
}
.fourth
{
	list-style: none;
	text-align: left;
	margin-left: 5%;
}
.fifth
{
	margin-left: 28%;
}
.sixth
{
	margin-left:7%;
}
.android
{
	margin-left:13%;
}
.ios
{
	margin-left:13%;
}
.payment
{
	margin-left:20%;
}